/* Collapsing Navbar Styles */

@media(min-width:768px) {
  .navbar-default {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    padding: 15px 0;
    /* UNCOLLAPSED state */
  }
  .navbar-default.affix {
    padding: 0;
    /*COLLAPSED state */
  }
}




header {
  padding: 250px;
  text-align: left;
  background-image: url(resources/hero-image.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header h1 {
  color: white;
  font-size: 2.5em;
}