/* Collapsing Navbar Styles */

@media(min-width:768px) {
  .navbar-default {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    padding: 15px 0;
     
    
    /* UNCOLLAPSED state */
  }
  .navbar-default.affix {
    padding: 0;
    /*COLLAPSED state */
  }
}


.jumbotron{
    background-image: url(resources/hero-image.jpg);
    background-size:cover;
}

.text-white{
   color:white;
}

.featured-text{
    margin-top:195px; 
    margin-left:105px;
    margin-bottom:75px;
}


.line-space{
    line-height:35px;
}
#header-title{
    color:#f8f8f8;
    font-size: 44px;
   
}

#mid-sect-border{
    border-bottom: 1px solid #e6e6e6;
}

#mid-sect-title{
   color: #45454e;
   font-size:32px;
   line-height: 35px;
}

