/* Collapsing Navbar Styles */

@media(min-width:768px) {
  .navbar-default {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    padding: 15px 0;
     
    
    /* UNCOLLAPSED state */
  }
  .navbar-default.affix {
    padding: 0;
    /*COLLAPSED state */
  }
}

.product-blue{
    background-color:#333d51;
}

.midsection-row-spacing{
    margin-top: 35px;
    margin-bottom: 70px;
}
.jumbotron{
    background-image: url(resources/hero-image.jpg);
    background-size:cover;
}

.text-white{
   color:white;
}


.shift-row-right{
   margin-left: 105px; 
   padding-left:0;
   
}

.featured-text{
    margin-top:175px; 
    margin-left:120px;
    margin-bottom:75px;
}



.line-space{
    line-height:35px;
}


.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #00bf62;
	color: #00bf62;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}

.icon-spacing{
    margin-right: 35px;
}
.none{
    padding:0;
    margin:0;
}

#header-title{
    color:#f8f8f8;
    font-size: 44px;
   
}

#mid-sect-border{
    border-bottom: 1px solid #e6e6e6;
}

#mid-sect-title{
   color: #45454e;
   font-size:32px;
   line-height: 35px;
}

#product-body{
    color:#a6b4c5;
}
#pull-down{
    margin-top:115px;
}

#icons{
    font-size:24px;
}

#product-green{
    color:#00bf62;
}