@import url(https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,600);
@import url(http://fonts.googleapis.com/css?family=Khula:400,700);

@font-WorkSand: 'Work Sans', sans-serif;
@font-Khula: 'Khula', sans-serif;
@font-Verdana: Verdana;
