@import "_fonts";
@import "_mixins";
@import "_color-set-default";

@extra-larga-screen: ~"only screen and (max-width: 1200px)";
@larga-screen: ~"only screen and (max-width: 992px)";
@medium-screen: ~"only screen and (max-width: 768px)";
@small-screen: ~"only screen and (max-width: 576px)";

@min-width: 340px;

body {
    font-family: @font-Cantarell;
    min-width: @min-width;
}
